.card {
    // NOTE: perspective property add a 3D effect when card is rotated 180degs. 
    // NOTE: The smaller the value, the bigger perspective the transition will go through (more dramatic).
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    position: relative;

    // NOTE: Need to specify height again for the card as well as the card-sides. 
    // This is because the height of the card collapses when we position both sides absolutely on top of each other.
    height: 50rem;


    &__side {
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;

        // Place both sides of the card on top of each other. Position absolute in relative to the parent element
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;

            &-1 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

        }
        &--back {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }
    }

    // When card is hovered, transform the card__side for front and back
    &:hover &__side--front {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
}