@mixin clearfix {
    &::after {
        // NOTE: Without the content rule, a psuedoelement will not appear on the page.
        content: "";
        display: table;
        // NOTE: Clear both float left and right.
        clear: both;
    }
}

@mixin centerHorizontalVertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}