.header {
    /* Set size of the element to 95% of the viewport height */
    height: 95vh;
    /* The first arg passed in will stay on top */
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
      url("../img/hero.jpg");
    /* Size of background image to fit the element it is inside of */
    background-size: cover;
    /* Ensure the image is fixed to the top of the page so a resizing will eat away from the bottom */
    background-position: top;
    /* Position all children elements in relative to this element if they have absolute positioning */
    position: relative;
    
    /* Specifies a clipping path where everything inside the path is visible and everything outside is clipped out. */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
      position: absolute;
      /* Reference position from which we count these pixel is the parent element which has a position set to relative */
      /* 4rem = 40px */
      top: 4rem;
      left: 4rem;
    }
    
    &__logo {
      /* Size of image. Aspect ratio is kept so width is automatically calculated */
      height: 3.5rem;
    
    }
    &__text-box {
      position: absolute;
      /* Position the element 50% of the width and height of the parent element to right and down */
      top: 40%;
      left: 50%;
      /* Move the element 50% of its size to left and up */
      transform: translate(-50%, -50%);
      /* Sets the children textual elements to center*/
      text-align: center;
    }
    
  }